* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --letter-color: black;
    --background: white;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: var(--background);
}

.container {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
}

@media (prefers-color-scheme: dark) {
    * {
        --background: gray;
    }
}