* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --background1: white;
    --background2: #f2f2f2;
    --color1: rgba(0,0,0,.87);
    --color2: #70757a;
    --color3: #bdc1c6;
    --color4: white;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: var(--background1);
    height: 100vh;
}

html,
body {
    min-width: 300px;
}

body, 
input {
    font-size: 1.4rem;
    font-family: arial,sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

.container nav {
    height: 60px;
    padding: 6px;
}

.container nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 12px;
}

.container nav ul li svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-content: center;
    filter: brightness(0) invert(.4);
    padding: 8px;
}

.container nav ul li a {
    text-decoration: none;
    color: var(--color1);
}

.container nav ul li .button {
    background: #2b7de9;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 9px 23px;
    color: var(--color4);
}

.container nav ul li a:hover,
.container footer .listes ul li:hover {
    text-decoration: underline;
}

.container nav ul li .button:hover {
    text-decoration: none;
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,.3),0 1px 3px 1px rgba(66,133,244,.15);
}

.container nav ul li svg:hover {
    border-radius: 50%;
    background: rgba(60,64,67,.08);
}

.container header {
    height: 207px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}

.container header figure a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
}

.container header figure a div {
    width: 27.2rem;
    height: 9.2rem;
    background: url("../assets/logos/google-light.png");
    background-size: cover;
}

.container .searching {
    height: 160px;
}

.container .searching form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 20px;
    width: 100%;
    gap: 25px;
}

.container .searching form .search {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: 100%;
    min-width: 300px;
    max-width: 584px;
    height: 44px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1.5px solid #bdc1c664;
    gap: 13px;
}

.container .searching form .search svg {
    width: 23px;
    height: 23px;
    cursor: pointer;
    filter: brightness(0) invert(0.5);
}

.container .searching form .search #search-bar {
    width: 100%;
    border: none;
    color: rgba(0,0,0,.87);
    background: transparent;
}

.container .searching form .search #search-bar:focus {
    outline: none;
}

.container .searching .options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 40px;
}

.container .searching .options input {
    border-radius: 4px;
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    min-width: 54px;
    padding: 7px 16px;
    cursor: pointer;
}

.container .searching .options input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

.container .space {
    height: 154px;
}

.container footer {
    background: var(--background2);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-bottom: 15px;
}

.container footer .country-side {
    padding: 15px 30px;
    font-size: 1.4rem;
    color: var(--color2);
}

.container footer .listes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.container footer .listes ul {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 30px;
    justify-content: space-evenly;
    list-style: none;
}

.container footer .listes ul li a {
    color: var(--color2);
    text-decoration: none;
}

.container footer .listes ul li {
    color: var(--color2);
    cursor: pointer;
}

.container footer .listes .hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    * {
        --background1:#202124;;
        --background2: #171717;
        --color1: white;
        --color2: #9aa0a6;
        --color3: #bdc1c6;
        --color4: #202124;
    }
    
    .container nav ul li svg,
    .container .searching form .search svg {
        filter: brightness(0) invert(1);
    }
    .container header figure a div {
        background: url("../assets/logos/google-dark.png");
        width: 27.2rem;
        height: 9.2rem;
        background-size: cover;
    }

    .container nav ul li .button {
        background: #8ab4f8;
        border: 1px solid transparent;
        box-shadow: none;
        color: #202124;
    }

    .container nav ul li .button:hover {
        background: #f8fbff;
    border-color: #cce0fc;
    }

    .container .searching .options input {
        background: #303134;
        border: 1px solid #303134;
        color: #e8eaed;
    }

    .container .searching .options input:hover {
        box-shadow: 0 1px 3px rgba(23,23,23,0.24);
        background: #303134;
        border: 1px solid #5f6368;
        color: #e8eaed;
    }
}

@media (min-width: 1199px) {
    .container footer .listes {
        justify-content: space-between;
    }
}